body {
  margin: 0;
  /* background */
  background-image: linear-gradient(135deg, #ebebeb 0%, white 100%);
  height: 100vh;
  background-attachment: fixed;
  /* background */
  font-family: "Titillium Web", sans-serif;
  font-size: 10pt;
}

p {
  /* border: 2px solid black; */
  margin-top: 0px;
}

.App {
  /* border: 2px solid black; */
  margin: auto;
  margin-top: 40px;
  width: 60vw;
  transition: ease all 0.1s;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App {
    margin-top: 20px;
    width: 90vw;
    transition: ease all 0.5s;
  }
}

/* Nav */ /* Nav */ /* Nav */
/* Nav */ /* Nav */ /* Nav */
/* Nav */ /* Nav */ /* Nav */

.NavBar {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-top: 15px;
  margin-bottom: 25px;
}

.NavItem {
  /* border: 2px solid black; */
  width: 25%;
  min-width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.NavItem a {
  text-decoration: none;
  color: black;
}
.NavItem.active a {
  font-weight: 600;
  font-size: 1rem;
  transition: ease all 0.1s;
}

.NavItem:hover {
  background-color: lightgray;
  transition: ease all 0.25s;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .NavBar {
    flex-direction: column;
  }
  .NavItem {
    width: 100%;
  }
}

.Header {
  /* border: 2px solid black; */
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}
.Footer {
  /* border: 2px solid black; */
  text-align: right;
  font-weight: 600;
}

/* CREATE TICKET */ /* CREATE TICKET */ /* CREATE TICKET */
/* CREATE TICKET */ /* CREATE TICKET */ /* CREATE TICKET */
/* CREATE TICKET */ /* CREATE TICKET */ /* CREATE TICKET */
.field {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
}

.field label {
  /* border: 2px solid grey; */
  width: 50%;
  font-weight: 600;
}
.field input,
select,
#spanInResult {
  /* border: 2px solid grey; */
  border: 0px;
  width: 50%;
  font-family: "Titillium Web", sans-serif;
  font-size: 10pt;
  background-color: transparent;
}

/* Remove Arrows/Spinners from input number */
/* Chrome, Safari, Edge, Opera */
.CreateTicket input::-webkit-outer-spin-button,
.CreateTicket input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.CreateTicket input[type="number"] {
  -moz-appearance: textfield;
}

.anerror {
  color: red;
}

button {
  width: 100%;
  border: 2px solid black;
  font-family: "Titillium Web", sans-serif;
  font-size: 10pt;
  font-weight: 600;
  background-color: #ffffff;
}
button:hover {
  background-color: lightgray;
  transition: ease all 0.25s;
}
